@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-firacode);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22188f;
    --foreground: #ededed;
    --gradient-1: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),
      radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),
      radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),
      radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),
      radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),
      radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),
      radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),
      /* radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%), */
      radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),
      radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),
      linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);
  }
}

body {
  background: #1a1a1a;
  /* background-size: 300%; */
  /* animation: bg-animation 20s infinite alternate ease-in-out; */
  color: var(--foreground);
  /* Using the font system instead of hardcoded Arial */
  font-family: var(--font-sans);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.welcome-words h1 {
  letter-spacing: 0.5rem;
  text-shadow: 0 0 10px #22188f,
    0 0 20px #22188f,
    0 0 40px #22188f,
    0 0 80px #22188f,
    0 0 120px #22188f;
}

